{% if app.request.requestUri is same as '/' %}
    {% set banner_title = 'Bienvenue sur <span style="color: var(--clr-blue);">ToDo & Co</span>, l\'application vous permettant de gérer l\'ensemble de vos tâches <span style="color: var(--clr-blue);">sans effort !</span>' %}
    {% set isWide = 'wide' %}
{% endif %}

{% if app.session.flashBag is not empty %}

    <section class="alert-section margin-bottom-50">
        <div class="wrapper">

            {% for flash_message in app.session.flashBag.get('success') %}
                <div class="alert center-text" role="alert">
                    <p>{{ flash_message | raw }}</p>
                </div>
            {% endfor %}

            {% for flash_message in app.session.flashBag.get('error') %}
                <div class="alert center-text error" role="alert">
                    <p>{{ flash_message | raw }}</p>
                </div>
            {% endfor %}

        </div>
    </section>

{% endif %}

<section class="header-section">
    <div class="wrapper">
        <div class="banner {{ isWide is defined ? isWide : '' }}" style="background-image: url({{ asset('img/todo-and-co-illustration.png') }})">
            <h1>{{ banner_title | raw }}</h1>
            {% block header_title %}{% endblock %}
        </div>
    </div>
</section>