<nav class="navbar margin-bottom-20">
    <div class="wrapper">
        <div class="logo">
            <a href="{{ path('app_homepage') }}">
                <img src="{{ asset('img/todo-and-co-logo.svg') }}" alt="ToDo & Co logo" />
                <a class="navbar-brand" href="{{ path('app_homepage') }}"><span>ToDo</span>&nbsp;<span>&</span>&nbsp;<span>Co</span></a>
            </a>
        </div>
        <div class="menu">
            <ul class="navigation-user">

                {% if is_granted('ROLE_USER') %}
                    <li class="hide-on-mobile"><p>Bonjour <span style="color: var(--clr-blue);">{{ app.user.userIdentifier }}</span> !</p></li>
                {% endif %}

                {% if app.user %}
                    <li>
                        <a href="{{ path('app_logout') }}" class="button-primary button-dark-blue">
                            <svg class="icon white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M497 273L329 441c-15 15-41 4.5-41-17v-96H152c-13.3 0-24-10.7-24-24v-96c0-13.3 10.7-24 24-24h136V88c0-21.4 25.9-32 41-17l168 168c9.3 9.4 9.3 24.6 0 34zM192 436v-40c0-6.6-5.4-12-12-12H96c-17.7 0-32-14.3-32-32V160c0-17.7 14.3-32 32-32h84c6.6 0 12-5.4 12-12V76c0-6.6-5.4-12-12-12H96c-53 0-96 43-96 96v192c0 53 43 96 96 96h84c6.6 0 12-5.4 12-12z"/>
                            </svg>
                            <span class="hide-on-mobile">Se déconnecter</span>
                        </a>
                    </li>
                {% endif %}

                {% if not app.user and 'login' != app.request.attributes.get('_route') %}
                    <li>
                        <a href="{{ path('app_login') }}" class="button-primary button-dark-blue">
                            <svg class="icon white" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512">
                                <path d="M416 448h-84c-6.6 0-12-5.4-12-12v-40c0-6.6 5.4-12 12-12h84c17.7 0 32-14.3 32-32V160c0-17.7-14.3-32-32-32h-84c-6.6 0-12-5.4-12-12V76c0-6.6 5.4-12 12-12h84c53 0 96 43 96 96v192c0 53-43 96-96 96zm-47-201L201 79c-15-15-41-4.5-41 17v96H24c-13.3 0-24 10.7-24 24v96c0 13.3 10.7 24 24 24h136v96c0 21.5 26 32 41 17l168-168c9.3-9.4 9.3-24.6 0-34z"/>
                            </svg>
                            <span class="hide-on-mobile">Se connecter</span>
                        </a>
                    </li>
                {% endif %}
                
            </ul>
        </div>
    </div>
</nav>

{% if is_granted('ROLE_ADMIN') %}
    <section class="users-management actions">
        <div class="wrapper">
            <ul>
                <li><a href="{{ path('app_user_create') }}" class="button-secondary button-dark-yellow {{ app.request.requestUri is same as path('app_user_create') ? 'active' : '' }}">Créer un utilisateur</a></li>
                <li><a href="{{ path('app_user_list') }}" class="button-secondary button-dark-yellow {{ app.request.requestUri is same as path('app_user_list') ? 'active' : '' }}">Liste des utilisateurs</a></li>
            </ul>
        </div>
    </section>
{% endif %}

<section class="actions tasks-management margin-bottom-50">
    <div class="wrapper">
        <ul>
            {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('app_task_create') }}" class="button-secondary button-dark-yellow {{ app.request.requestUri is same as path('app_task_create') ? 'active' : '' }}">Créer une nouvelle tâche</a></li>
            {% endif %}
            <li><a href="{{ path('app_task_list') }}" class="button-secondary button-dark-yellow {{ app.request.requestUri is same as path('app_task_list') ? 'active' : '' }}">Toutes les tâches</a></li>
            <li><a href="{{ path('app_tasks_todo') }}" class="button-secondary button-dark-yellow {{ app.request.requestUri is same as path('app_tasks_todo') ? 'active' : '' }}">Tâches à réaliser</a></li>
            <li><a href="{{ path('app_tasks_done') }}" class="button-secondary button-dark-yellow {{ app.request.requestUri is same as path('app_tasks_done') ? 'active' : '' }}">Tâches terminées</a></li>
        </ul>
    </div>
</section>