<nav class="navbar margin-bottom-20">
    <div class="wrapper">
        <div class="logo">
            <a href="{{ path('homepage') }}">
                <img src="{{ asset('img/todo-and-co-logo.svg') }}" alt="ToDo & Co logo" />
                <a class="navbar-brand" href="{{ path('homepage') }}"><span>ToDo</span>&nbsp;<span>&</span>&nbsp;<span>Co</span></a>
            </a>
        </div>
        <div class="menu">
            <ul class="navigation-user">

                {% if is_granted('ROLE_USER') %}
                    <li class="hello-user"><p>Bonjour <span style="color: var(--clr-blue);">{{ app.user.userIdentifier }}</span> !</p></li>
                {% endif %}
                {% if is_granted('ROLE_ADMIN') %}
                    <li><a href="{{ path('user_create') }}" class="button-secondary button-dark-blue">Créer un utilisateur</a></li>
                    <li><a href="{{ path('user_list') }}" class="button-secondary button-dark-blue">Liste des utilisateurs</a></li>
                {% endif %}

                {% if app.user %}
                    <li><a href="{{ path('app_logout') }}" class="button-primary button-dark-blue">Se déconnecter</a></li>
                {% endif %}

                {% if not app.user and 'login' != app.request.attributes.get('_route') %}
                    <li><a href="{{ path('app_login') }}" class="button-primary button-dark-blue">Se connecter</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>

<div class="actions tasks-management margin-bottom-50">
    <div class="wrapper">
        <ul>
            {% if is_granted('ROLE_USER') %}
                <li><a href="{{ path('app_task_create') }}" class="button-secondary button-dark-yellow">Créer une nouvelle tâche</a></li>
            {% endif %}
            <li><a href="{{ path('app_task_list') }}" class="button-secondary button-dark-yellow">Toutes les tâches</a></li>
            <li><a href="{{ path('app_tasks_todo') }}" class="button-secondary button-dark-yellow">Tâches à réaliser</a></li>
            <li><a href="{{ path('app_tasks_done') }}" class="button-secondary button-dark-yellow">Tâches terminées</a></li>
        </ul>
    </div>
</div>